<footer>
  &copy; <%=__('Your Website 2024. All Rights Reserved.')%>
    <a href="/">
      <%=__(' Privacy')%>
    </a>
    <span>&middot;</span>
    <a href="/">
      <%=__('Terms')%>
    </a>
    <span>&middot;</span>
    <a href="/">
      <%=__('FAQ')%>
    </a>
</footer>
</body>
</html>