/* Set the body as a grid container */
ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 0;
  padding: 0 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  padding-left: 20px;
}

h2 {
  font-size: 18px;
  margin: 10px 0;
  padding-left: 20px;
}

p {
  font-size: 16px;
  padding-left: 20px;
}

li {
  border: 1px solid #ddd;
  padding: 10px;
  list-style: none;
}

img {
  width: 250px;
}

p.price {
  font-weight: bold;
  color: #007bff;
}

p.sale {
  font-weight: bold;
  color: #28a745;
}

p.tags {
  font-style: italic;
  color: #888;
}
